<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
  </head>
  <body>

    <header>
		<h2>Home</h2>
    </header>

	<h1>Users</h1>
	<% if (users.length > 0) { %>
	<ul class="posts">
		<% user.forEach(post => { %>
		<li>
			<p><% users.id %></p>
			<p><% users.username %></p>
			<p><% users.password %></p>
		</li>
		<% }) %>
	</ul>
	<% } else { %>
	<p>There are no users yet. </p>
	<% } %>

  </body>
</html>